@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: auto;
}

body {
    font-family: "Nunito Sans", sans-serif;
    
    background-color: rgb(28, 28, 28);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    align-items: center;

    padding: 20px 60px;
    z-index: 10;

    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0)
    );
}

header:hover {
    background: rgba(0,0,0,0.6);
    transition: background .5s;
}

div.logo {
    padding-top: 10px;
    margin: auto;
}

div.logo img{
    width: 150px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

nav ul li > a{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(224, 224, 224);
    transition: .5s;

}

nav ul li > a:hover {
    transition: .5s;
    color: rgb(122, 255, 33);
    text-shadow: 2px 2px 15px aquamarine;
}

div.redes ul{
    display: flex;
    list-style: none;
    gap: 30px;
    
}

div.redes ul li > a {
    color: rgb(224, 224, 224);
}

div.redes ul li i{
    font-size: 30px;
    width: 80px;
    transition: .8s;
}

div.redes ul li > a:hover {
    transition: .8s;
    color: rgb(33, 255, 218);
    text-shadow: rgb(33, 255, 218);
}

main.banner {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 100px;
    min-height: 100vh;
}

#container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    
}

div.content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    flex-flow: column;
    transition: transform 0.1s linear, opacity 0.1s linear;
    will-change: transform, opacity;
}

div.compre {
    text-align: center;
    padding: 40px;
}

div.compre a{
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px;
    text-decoration: none;
    color: rgb(97, 8, 251);
    background-color: white;
    padding: 20px;
    border-radius: 40px;
    transition: .5s;
}

div.compre a:hover {
    transition:  .8s;
    background-image: linear-gradient(to left, rgb(122, 255, 33), rgb(33, 255, 218));
    color: white;
    padding: 25px;
}

div.personagem img {
    width: 700px;
    margin-top: 10%;
}

.banner .bgVideo {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: -1;
    filter: brightness(0.5);
    will-change: transform;
}

article {
    padding: 55px;
}

section#sobre {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.poster {
    width: 550px;
    border-radius: 20px;
    overflow: hidden;
}

div.poster img {
    width: 550px;
    padding: 20px;
    margin: 20px;
    object-fit: cover;
}

div.text {
    width: 500px;
    padding: 40px;
    margin: 30px;
    color: white;
    font-size: 1.5em;
}

div.bonus {
    width: 300px;
    padding: 40px;
}

h2{
    color: white;
    font-weight: 800;
    font-size: 2em;
}

div.bonus p {
    color: rgb(183, 183, 183);
    font-size: 1.5em;
    font-weight: 700;
}

@media (max-width: 768px) {
    .banner .bgVideo {
        transform: none !important;
    }
}